body {
    /* background-color: rgba(161, 155, 155, 0.589); */
    background-image: url('images/wood.jpg');
    width: 100%;
}


p {
    color: rgb(73, 71, 71);
    font-size: 20px;
    font-weight: bold;
}

/* .row1 {
    background-color: rgb(111, 187, 238);
    text-align: left;
    color: rgb(133, 129, 129);
    padding: 10px;
    margin-top: 100px;
    font-size: 16px;
    font-weight: bold;
    width: 40%;
    float: right;
} */

.newDiv {
    background-color: rgb(178, 232, 248);
    text-align: left;
    color: rgb(133, 129, 129);
    padding: 10px;
    margin-top: 100px;
    font-size: 16px;
    font-weight: bold;
    width: 40%;
    float: right;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    margin-top: 10px;
}

#giphy-view {
    /* background-color: rgb(178, 232, 248); */
}
